<div class="container">
  <br>
    <h1>Blog Posts</h1>
  </br>
  <%= paginate(@posts)%>
  <% @posts.each do |post| %>
  <div>
    <h3><%= post.title %></h3><br>
    <h1><%= image_tag post.image.url %></h1><br>
    <p><%= post.text %></p><br>
      <%= link_to 'Show', post_path(post),class: "btn btn-primary btn-lg" %>
    <%if user_signed_in?%>
    <%if post.user_id == current_user.id%>
      <%= link_to 'Edit', edit_post_path(post),class: 'btn btn-success btn-lg' %>
      <%= link_to 'Delete', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete?'},class: 'btn btn-warning btn-lg' %>
    <%end%>
    <%end%>
  </div>
  <%end%>
</div>
